In [1]:
import pandas

In [2]:
input_file = 'ms_to_kg_team_map.csv'
ms_kg_teams = pandas.read_csv(input_file, sep='|').drop(['Unnamed: 0', 'index'], axis=1)

ms_kg_teams[:5]

          name  team  Season     TeamName  TeamID
0  Abilene_Chr     1    2014  Abilene Chr    1101
1  Abilene_Chr     1    2015  Abilene Chr    1101
2  Abilene_Chr     1    2016  Abilene Chr    1101
3  Abilene_Chr     1    2017  Abilene Chr    1101
4  Abilene_Chr     1    2018  Abilene Chr    1101

In [3]:
seasons_file = 'data/kaggle_2018/DataFiles/Seasons.csv'
seasons = pandas.read_csv(seasons_file)

NCAA_games_file = 'data/kaggle_2018/DataFiles/NCAATourneyCompactResults.csv'
NCAA_games = pandas.read_csv(NCAA_games_file)

seasons[['Season', 'DayZero']][:5]

   Season     DayZero
0    1985  10/29/1984
1    1986  10/28/1985
2    1987  10/27/1986
3    1988   11/2/1987
4    1989  10/31/1988

In [4]:
from datetime import datetime, timedelta

season_dates = NCAA_games[['Season', 'DayNum']].groupby(['Season']).min().reset_index()
season_dates = season_dates.merge(seasons[['Season', 'DayZero']], on='Season')
season_dates['DayZero'] = pandas.to_datetime(season_dates['DayZero'])
season_dates['DayNum'] = pandas.to_timedelta(season_dates['DayNum'], unit='D')
season_dates['NCAA_start'] = season_dates['DayZero'] + season_dates['DayNum']  
season_dates = season_dates.drop('DayNum', axis=1)

season_dates = season_dates.append(pandas.DataFrame({'Season': [2018], 
                                                     'DayZero': datetime(2017, 11, 1), 
                                                     'NCAA_start': datetime(2018, 3, 13)
                                                     }))

season_dates[-5:]

      DayZero NCAA_start  Season
29 2013-11-04 2014-03-18    2014
30 2014-11-03 2015-03-17    2015
31 2015-11-02 2016-03-15    2016
32 2016-10-31 2017-03-14    2017
0  2017-11-01 2018-03-13    2018

In [5]:
team_streaks = None

for streak_len in [2, 3, 4, 6, 8, 10]:
    for season in range(2010, 2018+1):
        print streak_len, season

        games = pandas.read_csv('data/game_scores/games_{}.csv'.format(season)).drop('Unnamed: 0', axis=1)
        teams = pandas.read_csv('data/game_scores/teams_{}.csv'.format(season)).drop('Unnamed: 0', axis=1)

        games = games.merge(teams, left_on='team1', right_on='team') \
                     .drop('team', axis=1) \
                     .rename(index=str, columns={'name': 'team1_name'}) \
                     .merge(teams, left_on='team2', right_on='team') \
                     .drop('team', axis=1) \
                     .rename(index=str, columns={'name': 'team2_name'})

        games = games.sort_values('date')

        min_date = int('{}0101'.format(season))

        dt_fmt = '%Y-%m-%d'
        dt = datetime.strptime(str(season_dates[season_dates['Season'] == season]['NCAA_start'].values[0]).split('T')[0], dt_fmt)
        dt_fmt = '%Y%m%d'
        max_dt = min(dt, datetime.now()) - timedelta(days=1)
        max_date = int(max_dt.strftime(dt_fmt))

        for idx, row in ms_kg_teams[ms_kg_teams['Season'] == season].iterrows():
            tm = row['name']

            valid_games = ((games['team1_name'] == tm) | (games['team2_name'] == tm)) & \
                          ((games['date'] >= min_date) & (games['date'] <= max_date))

            team_record = games[valid_games].sort_values('date')

            all_rows = (team_record['date'] > 0)
            team_record.loc[all_rows, 'outcome'] = '-'

            tm_is_team1 = (team_record['team1_name'] == tm)
            tm_is_team2 = (team_record['team2_name'] == tm)
            team1_is_winner = (team_record['team1_score'] > team_record['team2_score'])
            team2_is_winner = (team_record['team1_score'] < team_record['team2_score'])

            outcome = tm_is_team1 & team1_is_winner
            team_record.loc[outcome, 'outcome'] = 1
            outcome = tm_is_team2 & team2_is_winner
            team_record.loc[outcome, 'outcome'] = 1
            outcome = tm_is_team1 & team2_is_winner
            team_record.loc[outcome, 'outcome'] = 0
            outcome = tm_is_team2 & team1_is_winner
            team_record.loc[outcome, 'outcome'] = 0

            n_games = streak_len

            try:
                team_record.loc[all_rows, 'streak'] = team_record['outcome'].rolling(window=n_games).sum() / float(n_games)
            except:
                print tm
                print team_record
                raise

            # print tm, map(list, team_record[team_record['date'] == team_record['date'].max()][['date', 'streak']].values)[0]

            streak_row = team_record[team_record['date'] == team_record['date'].max()][['streak']]
            streak_row['TeamName'] = row['TeamName']
            streak_row['TeamID'] = row['TeamID']
            streak_row['Season'] = row['Season']
            streak_row['StreakLen'] = streak_len

            if team_streaks is None:
                team_streaks = streak_row.copy()
            else:
                team_streaks = team_streaks.append(streak_row.copy())

team_streaks

2 2010
2 2011
2 2012
2 2013
2 2014
2 2015
2 2016
2 2017
2 2018
3 2010
3 2011
3 2012
3 2013
3 2014
3 2015
3 2016
3 2017
3 2018
4 2010
4 2011
4 2012
4 2013
4 2014
4 2015
4 2016
4 2017
4 2018
6 2010
6 2011
6 2012
6 2013
6 2014
6 2015
6 2016
6 2017
6 2018
8 2010
8 2011
8 2012
8 2013
8 2014
8 2015
8 2016
8 2017
8 2018
10 2010
10 2011
10 2012
10 2013
10 2014
10 2015
10 2016
10 2017
10 2018

      streak         TeamName  TeamID  Season  StreakLen
4915     0.5        Air Force    1102    2010          2
1184     0.5            Akron    1103    2010          2
2374     0.5          Alabama    1104    2010          2
2517     0.5      Alabama A&M    1105    2010          2
2883     0.5       Alabama St    1106    2010          2
480      0.0        Albany NY    1107    2010          2
5366     0.5        Alcorn St    1108    2010          2
3993     0.5    American Univ    1110    2010          2
4951     0.5   Appalachian St    1111    2010          2
1143     0.5          Arizona    1112    2010          2
1097     0.5       Arizona St    1113    2010          2
2180     0.5  Ark Little Rock    1114    2010          2
5095     1.0   Ark Pine Bluff    1115    2010          2
1535     0.0         Arkansas    1116    2010          2
2915     0.5      Arkansas St    1117    2010          2
2106     0.0             Army    1119    2010          2
1212     0.0           Auburn    1120    2010          2
1194     0.5      Austin Peay    1122    2010          2
5026     0.5              BYU    1140    2010          2
3335     0.0          Ball St    1123    2010          2
3839     0.5           Baylor    1124    2010          2
1840     0.5          Belmont    1125    2010          2
4121     0.5  Bethune-Cookman    1126    2010          2
3006     0.5       Binghamton    1127    2010          2
4712     0.5         Boise St    1129    2010          2
1354     0.0   Boston College    1130    2010          2
3134     0.5      Boston Univ    1131    2010          2
3477     0.0    Bowling Green    1132    2010          2
4815     0.5          Bradley    1133    2010          2
1951     0.0            Brown    1135    2010          2
...      ...              ...     ...     ...        ...
3633     0.4  VA Commonwealth    1433    2018         10
3522     0.2              VMI    1440    2018         10
622      0.4       Valparaiso    1434    2018         10
1257     0.4       Vanderbilt    1435    2018         10
1129     0.8          Vermont    1436    2018         10
2957     0.8        Villanova    1437    2018         10
2377     0.9         Virginia    1438    2018         10
1207     0.5    Virginia Tech    1439    2018         10
1474     0.5     WI Green Bay    1453    2018         10
1443     0.5     WI Milwaukee    1454    2018         10
1447     0.7              WKU    1443    2018         10
3196     0.4       W Carolina    1441    2018         10
1606     0.2       W Illinois    1442    2018         10
3802     0.4       W Michigan    1444    2018         10
3692     0.7           Wagner    1447    2018         10
2180     0.3      Wake Forest    1448    2018         10
2264     0.4       Washington    1449    2018         10
5139     0.3    Washington St    1450    2018         10
1052     0.6         Weber St    1451    2018         10
1289     0.6    West Virginia    1452    2018         10
3380     0.8       Wichita St    1455    2018         10
2801     0.5   William & Mary    1456    2018         10
1660     0.6         Winthrop    1457    2018         10
743      0.5        Wisconsin    1458    2018         10
1835     0.5          Wofford    1459    2018         10
3342     0.8        Wright St    1460    2018         10
1772     0.5          Wyoming    1461    2018         10
4568     0.8           Xavier    1462    2018         10
1424     0.7             Yale    1463    2018         10
306      0.2    Youngstown St    1464    2018         10

[18834 rows x 5 columns]

In [6]:
output_file = 'composite_streak_data.csv'
team_streaks.to_csv(output_file, sep='|')

In [7]:
team_streaks

      streak         TeamName  TeamID  Season  StreakLen
4915     0.5        Air Force    1102    2010          2
1184     0.5            Akron    1103    2010          2
2374     0.5          Alabama    1104    2010          2
2517     0.5      Alabama A&M    1105    2010          2
2883     0.5       Alabama St    1106    2010          2
480      0.0        Albany NY    1107    2010          2
5366     0.5        Alcorn St    1108    2010          2
3993     0.5    American Univ    1110    2010          2
4951     0.5   Appalachian St    1111    2010          2
1143     0.5          Arizona    1112    2010          2
1097     0.5       Arizona St    1113    2010          2
2180     0.5  Ark Little Rock    1114    2010          2
5095     1.0   Ark Pine Bluff    1115    2010          2
1535     0.0         Arkansas    1116    2010          2
2915     0.5      Arkansas St    1117    2010          2
2106     0.0             Army    1119    2010          2
1212     0.0           Auburn    1120    2010          2
1194     0.5      Austin Peay    1122    2010          2
5026     0.5              BYU    1140    2010          2
3335     0.0          Ball St    1123    2010          2
3839     0.5           Baylor    1124    2010          2
1840     0.5          Belmont    1125    2010          2
4121     0.5  Bethune-Cookman    1126    2010          2
3006     0.5       Binghamton    1127    2010          2
4712     0.5         Boise St    1129    2010          2
1354     0.0   Boston College    1130    2010          2
3134     0.5      Boston Univ    1131    2010          2
3477     0.0    Bowling Green    1132    2010          2
4815     0.5          Bradley    1133    2010          2
1951     0.0            Brown    1135    2010          2
...      ...              ...     ...     ...        ...
3633     0.4  VA Commonwealth    1433    2018         10
3522     0.2              VMI    1440    2018         10
622      0.4       Valparaiso    1434    2018         10
1257     0.4       Vanderbilt    1435    2018         10
1129     0.8          Vermont    1436    2018         10
2957     0.8        Villanova    1437    2018         10
2377     0.9         Virginia    1438    2018         10
1207     0.5    Virginia Tech    1439    2018         10
1474     0.5     WI Green Bay    1453    2018         10
1443     0.5     WI Milwaukee    1454    2018         10
1447     0.7              WKU    1443    2018         10
3196     0.4       W Carolina    1441    2018         10
1606     0.2       W Illinois    1442    2018         10
3802     0.4       W Michigan    1444    2018         10
3692     0.7           Wagner    1447    2018         10
2180     0.3      Wake Forest    1448    2018         10
2264     0.4       Washington    1449    2018         10
5139     0.3    Washington St    1450    2018         10
1052     0.6         Weber St    1451    2018         10
1289     0.6    West Virginia    1452    2018         10
3380     0.8       Wichita St    1455    2018         10
2801     0.5   William & Mary    1456    2018         10
1660     0.6         Winthrop    1457    2018         10
743      0.5        Wisconsin    1458    2018         10
1835     0.5          Wofford    1459    2018         10
3342     0.8        Wright St    1460    2018         10
1772     0.5          Wyoming    1461    2018         10
4568     0.8           Xavier    1462    2018         10
1424     0.7             Yale    1463    2018         10
306      0.2    Youngstown St    1464    2018         10

[18834 rows x 5 columns]